.main-bg{
    background-color: rgb(77, 8, 142);
}

.line{
    width: 10%;
    margin-left: 675px;
}

.heading-style1{
    letter-spacing: 3px;
}

.card-img-top{
    width: 290px;
    height: 230px;
    align-items: center;
}

.card{
    background-color:rgb(118, 32, 199);
    margin: 5px;
    left: 300px;
    border-radius: 0%;
}

.card-style{
  width: 1000px;
  left: 1000px;
  align-items: center;
}